* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family:"Sriracha", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(210, 255, 240);
    color: #000;
    line-height: 1.6;
}

.sriracha-regular {
  font-family: "Sriracha", cursive;
  font-weight: 400;
  font-style: normal;
}

/*.container {
    border: 1px solid red;
    margin: 15px;
    padding: 15px;
}*/
.site-header {
    /*border: 1px solid red;
    margin: 15px;
    padding: 10px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg,#00ffea ,#00ff9d);
}

.brand {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px;
}

.brand-icon {
    font-size: 28px;
    background: linear-gradient(90deg,#17504b ,#15ff00);
    border-radius: 40%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
}

.brand h2 {
    margin: 0;
    font-size: 18px;
}

.brand p {
    margin: 2px 0 0;
    font-size: 11px;
    opacity: 0.85;
}

.main-nav {
    display: flex;
    gap: 25px;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav-list a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 12px;
    padding: 12px 16px;
    border-radius: 16px;
    transition:all 0.5s;
}
.nav-list a:hover {
    background-color: rgba(75, 94, 84, 0.432);
}


.main-layout {
    /*border: 1px solid red;
    margin: 15px;
    padding: 15px;*/

    display: grid;
    grid-template-columns: 1fr 390px;
    padding: 20px 22px 0;
}

.left-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.hero {
    display: grid;
    grid-template-columns: 1.5fr 0.8fr;
    background : linear-gradient(100deg,#ffffff ,#00ff9d);
    border: 1px solid rgb(121, 218, 185);
    border-radius: 10px;
    padding: 24px 36px;
    box-shadow: 0px 4px 12px rgba(59, 56, 56, 0.25);
    min-height: 185px;
    justify-content: center;
    align-items: center;

}

.hero-text h1 {
    font-size: 36px;
    color: #21816d;
}

.hero-text p {
    font-size: 18px;
    color: #6c9b91;
    font-weight: 600;
}

.hero-photo {
    margin-left: 250px;
}

.hero-photo img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    object-fit: contain;
    border: 1px solid #000;
}

/*=============Link Exem============*/

.card {
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgb(121, 218, 185);
    box-shadow: 0px 4px 12px rgba(59, 56, 56, 0.25);
    padding: 24px 36px;
}

.card-header-title {
    /* background-color: rgb(27, 160, 10) */
}

.card-header-title h2 {
    /* background-color: rgb(27, 160, 10) */
    color:  #21816d;
}

.card-body-grid{
    /* background-color: rgb(0, 252, 34); */
    display: grid;
    grid-template-columns: 0.75fr 1.25fr;
    gap: 20px;
    line-height: 2;
}

.result-panel ,.code-panel {
    background-color: rgb(255, 255, 255);
    border : 1px solid rgb(121, 218, 185);
    border-radius: 10px ;
    overflow: hidden;

}

.result-panel-header,.code-panel-header {
    background-color:rgb(121, 218, 185);
    color: #21816d;
    padding: 2px 10px;
    font-weight: bold;
}

.result-panel-body{
    padding: 5px 10px 10px 10px;
}

.result-panel-body a {
    display: block;
    color: #349991;
    line-height: 2;
}

.result-panel-body a:hover{
    color: blue;
}

.result-panel-emoji {
    border-radius: 10px;
    background-color: #349991;
    margin-right: 6px;
    padding: 0 3px;
}

.back-bottom {
    border: 2px solid #349991;
    border-radius: 10px;
    display: inline-block !important;
    padding: 2px 10px;
    text-decoration: none;
    margin-top: 5px;
}

.code-panel{
    background-color: #000;
}

.code-panel-body {
    color: white;
}

.code-list {
    padding: 0px 20px;
    margin: 20px;
}

.code-list li {
    padding: 0px 10px;
}

.tag {
    color: red;
}
 
.value {
    color: green;
}

.attr {
    color: greenyellow;
}

.result-panel-body-3g {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items:baseline;
    text-align: center;
}

figure img {
    margin-top: 10px;
    padding: 10px 10px 10px 10px;
    box-shadow: 0px 4px 12px rgba(59, 56, 56, 0.25);
    border-radius: 10px;
    border: 1px solid black;
}

.right-sidebar {
    border: 1px solid rgb(255, 4, 247);
    margin: 15px;
    padding: 15px;
}

.tip-box {
    border: 1px solid rgb(255, 0, 0);
    margin: 15px;
    padding: 15px;
}

